@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var account = (Model.UserModel)Session["account"];
}
<!-- BEGIN PAGE CONTENT INNER -->
<div class="page-content-inner">
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PROFILE SIDEBAR -->
            <div class="profile-sidebar">
                <!-- PORTLET MAIN -->
                <div class="portlet light profile-sidebar-portlet ">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        <img src="~/assets/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name"> Marcus Doe </div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <div class="profile-userbuttons">
                        <a href="javascript:;" type="button" class="btn btn-circle green btn-sm">修改密码</a>
                        <a href="@Url.Action("Add","Article")" type="button" class="btn btn-circle red btn-sm">发表文章</a>
                    </div>
                    <!-- SIDEBAR MENU -->
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li>
                                <a href="@Url.Action("UserArticleList","Article")?id=@account.id">
                                    <i class="icon-note"></i> 我的文章
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END MENU -->
                </div>
                <!-- END PORTLET MAIN -->
            </div>
            <!-- END BEGIN PROFILE SIDEBAR -->
            <!-- BEGIN PROFILE CONTENT -->
            <div class="profile-content">
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN PORTLET -->
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-lock font-red-mint"></i>
                                    <span class="caption-subject font-red-mint bold uppercase">修改密码</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <form>
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                旧密码
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" name="phone" id="oldPassword" placeholder="请填写旧密码">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                新密码
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" name="phone" id="newPassword" placeholder="6-16位字符，至少包含数字、字母(区分大小写)">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                确认密码
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" name="phone" id="newConfimPassword" placeholder="两次输入密码需一致">
                                            </div>
                                        </div>
                                        <a href="javascript:;" id="btn_save" class="btn red mt20 mb30" style="margin-left:22.5%">保存</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- END PORTLET -->
                    </div>
                </div>
            </div>
            <!-- END PROFILE CONTENT -->
        </div>
    </div>
</div>
<!-- END PAGE CONTENT INNER -->
@{
    account = (Model.UserModel)Session["account"];
}
<script>
    (function($) {
        var eventsList = function() {
            var $main = $('.portlet-body');
            
            $main.on("click", "#btn_save", function() {
                var oldPassword = $("#oldPassword").val();
                var newPassword = $("#newPassword").val();
                var newConfimPassword = $("#newConfimPassword").val();
                if ($.trim(oldPassword) == "") {
                    alert("请输入旧密码！");
                    return;
                }
                if ($.trim(newPassword) == "") {
                    alert("请输入新密码！");
                    return;
                }
                if ($.trim(newConfimPassword) == "") {
                    alert("请输入确认密码！");
                    return;
                }
                if ($.trim(newPassword) != $.trim(newConfimPassword)) {
                    alert("两次输入密码不一致！");
                    return;
                }
                var obj = new Object();
                obj.oldPassword = oldPassword;
                obj.id = @account.id;
                obj.newPassword = newPassword;
                $.post('/Account/UpdatePassword', obj,
                function (data) {
                    alert(data.message);
                    window.location = window.location;
                }, "json");

            });
            this.init = function () {
            };
        };

        $(function () {
            var app = new eventsList();
            app.init();
        });
    })(window.jQuery);
</script>
